 body{
    padding-top:70px;
  }
  h1, h2, h3, h4, h5, h6, p, body, div, span{
    font-family: 'Source Sans Pro', sans-serif;
  }
  body{
  margin-left:20px;
  margin-right:20px;
}

  img, video{
  height:200px;
}

  .btn-default, .btn-info, .btn-danger, .btn-success{
  border:none !important;
  border-radius:0px !important;
}
  .photo-div{
  display:inline-block;
  position:relative;
  cursor:pointer;
  height:200px;
}
  #topnav{
    z-index:1000;
  }
#nav-ul{
    float: left;
    margin: 0;
    /* text-align: center; */
    margin-left: 40%;
  }
  #main-content-div{
    margin-left:10px;
    margin-right:10px;
    position:block;
  }
  .photo-btns{
    position:absolute;
    width: 100%;
    bottom:0px;
    /*bottom:5px;*/
    /*left:5px;*/
    display:none;
  }
  .photo-top-btns{
    width:100%;
    position:absolute;
    top:0px;
    display:none;
  }
#modal-photo{
  width:100%;
}
#modal-photo{
  height:auto;
}
.modal-content{
  border-radius:0px !important;
}
.modal-header{
  text-align: center !important;
}
#pagination-div{
  z-index:200;
  width:300px;
  /*-webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.1);*/
  /*padding:15px;*/
  text-align: center;
}
/*#album-select{
  padding-top:5px;
  padding-bottom:5px;
  margin-bottom:3px;
  border-radius:0px;
}
*/
.navbar-default .navbar-nav>li>a {
    color:white !important;
  }
  #spacer-100{
    display:block;
    clear:both;
    height:500px;
  }
  .centered{
    text-align: center;
    width:100%;
  }
#topnav{
    background-color:rgba(0,10,128, 0.70);
    border:0px;
  }

.time-input{
  display: inline-block;
  padding:5px;
  border:1px solid rgba(100,100,100,0.1);
  width:75px;
}

.selected{
  outline:5px solid green; 
  opacity:0.5;
  z-index:300;
}
#photo-container{
  margin-top:10px;
  text-align:center;
}
#modal-footer{
  display:none;
}