<!DOCTYPE html>
<html>
<head>
  <title>ImgShare</title>
  <style type = 'text/css'>
  body{
  	padding-top:70px;
  }
  h1, h2, h3, h4, h5, h6, p, body, div, span{
  	font-family: 'Source Sans Pro', sans-serif;
  }
  body{
  margin-left:20px;
  margin-right:20px;
}

  img, video{
  height:200px;
}
  .btn-default{
  border:none !important;
  border-radius:0px !important;
}
  .photo-div{
  display:inline-block;
  position:relative;
  cursor:pointer;
  height:200px;
}
  #topnav{
    z-index:1000;
  }
#nav-ul{
    float: left;
    margin: 0;
    /* text-align: center; */
    margin-left: 40%;
	}
  #main-content-div{
    margin-left:10px;
    margin-right:10px;
    position:block;
  }
  .photo-btns{
  position:absolute;
  bottom:5px;
  left:5px;
  display:none;
}
#modal-photo{
  width:100%;
}
#modal-photo{
  height:auto;
}
.modal-content{
  border-radius:0px !important;
}
.modal-header{
  text-align: center !important;
}


.navbar-default .navbar-nav>li>a {
    color:white !important;
  }
#topnav{
    background-color:rgba(0,10,128, 0.70);
    border:0px;
  }
  </style>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

  <link rel = 'stylesheet' href = 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
  <script src = 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>

  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>

  <script src = '/lib/underscore-min.js'></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav id = 'topnav' class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul id = 'nav-ul' class="nav navbar-nav">
        <li><a href="/pick">Photos</a></li>
        <li><a href="/pick?video=true">Videos</a></li>
        <!-- <li><a href="/pick_photos?video=true">Videos</a></li> -->
        <li><a href="/requested">Requested</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div id = 'main-content-div'>
<%= yield %>
</div>
</body>
</html>
