<style type = 'text/css'>
video{
	height:200px;
}
.photo-div{
	float:left;
	cursor:pointer;
}
.selected{
	outline:5px solid green; 
	opacity:0.5;
}
</style>
<% if @videos.length == 0 %>
<h1 class = 'centered'>No tiny pix, check again soon</h1>
<% end %>

<%= will_paginate @videos, renderer: BootstrapPagination::Rails %>
<div class = 'row'>

<% @videos.each do |photo| %>
<% if @selected_ids.include?(photo.id) %>
<div class = 'photo-div selected' data-id = '<%= photo.id %>'>
<% else %>
<div class = 'photo-div' data-id = '<%= photo.id %>'>
<% end %>

		<video src = '<%= photo.compressed_path %>' autoplay></video>

</div>
<% end %>
</div>

<script type = 'text/javascript'>
$('photo').each(function(){
	this.playbackRate = 30;
	this.loop = true
});

$('.photo-div').click(function(){
	console.log($(this).attr('data-id'));
	var that = this;
	$.ajax({
		
		url:'/request_photo/'+$(this).attr('data-id'),
		type:'post',
		success:function(data){
			console.log('here');
			$(that).toggleClass('selected');
		}
	});
})
</script>