<style type = 'text/css'>
img{
	height:200px;
	/*margin:1px;*/
}
.photo-div{
	float:left;
	cursor:pointer;
}
.selected{
	outline:5px solid green; 
	opacity:0.5;
	z-index:3000;
}
</style>
<% if @photos.length == 0 %>
<h1 class = 'centered'>No tiny pix, check again soon</h1>
<% end %>
<%= will_paginate @photos, renderer: BootstrapPagination::Rails %>
<div class = 'row'>
<% @photos.each do |photo| %>
<% if @selected_ids.include?(photo.id) %>
<div class = 'photo-div selected' data-id = '<%= photo.id %>'>
<% else %>
<div class = 'photo-div' data-id = '<%= photo.id %>'>
<% end %>
	<img class = 'photo-img' src = '<%= photo.compressed_path %>'></img>
</div>
<% end %>
</div>
</div>


<script type = 'text/javascript'>
$('.photo-div').click(function(){
	console.log($(this).attr('data-id'));
	var that = this;
	$.ajax({
		
		url:'/request_photo/'+$(this).attr('data-id'),
		type:'post',
		success:function(data){
			console.log('here');
			$(that).toggleClass('selected');
		}
	});
})
</script>